title = "About | instyle home"
url = "/about"
layout = "Default"
is_hidden = 0
[aboutpagecp]
==
<?php
    function onStart(){
        $this->page->bodyClass = 'aboutpage';
    }
?>
==
<main>
    <section class="ih-s-section ih-s-about-hero">
        <div class="ih-b-container">
            <div class="row-fluid ih-content">
                <div class="span-6 ih-head">
                    <h2 class="ih-about-title js-title">{{'Our Company' |_}}</h2>
                </div>
                <div class="span-6 ih-body">
                    {{aboutpage.our_company_content | raw}}
                </div>
            </div>
        </div>
        <div class="ih-scroll-down">
            <a href="#" class="ih-arrow-down js-scroll-down"></a>
        </div>
    </section>
    <section class="ih-s-section ih-s-about-main ih-scroll-to">
        <div class="ih-row row-fluid">
            <div class="span-6 ih-img">
                <div class="ih-image-cover" style="background-image: url({{ aboutpage.our_commitment_image.path }})"></div>

            </div>
            <div class="span-6 ih-content">
                <h2 class="ih-about-title js-title">{{'Our Commitment' |_}}</h2>
                {{aboutpage.our_commitment_content | raw}}
            </div>
        </div>
        <div class="ih-row row-fluid ih-change-position">
            <div class="span-6 ih-img">
                <div class="ih-image-cover" style="background-image: url({{ aboutpage.our_engagement_image.path }})"></div>
            </div>
            <div class="span-6 ih-content">
                <h2 class="ih-about-title js-title">{{'Our Engagement' |_}}</h2>
                {{aboutpage.our_engagement_content | raw}}

            </div>
        </div>
        <div class="ih-row row-fluid">
            <div class="span-6 ih-img">
                <div class="ih-image-cover" style="background-image: url({{ aboutpage.our_process_image.path }})"></div>
            </div>
            <div class="span-6 ih-content">
                <h2 class="ih-about-title js-title">{{'Our process' |_}}</h2>
                {{aboutpage.our_process_content | raw}}
            </div>
        </div>
    </section>
    <section class="ih-s-section ih-s-our-team">
        <div class="ih-b-container">
            <div class="ih-content">
                <h2 class="ih-about-title js-title">{{'Our Team' |_}}</h2>
                {{aboutpage.our_team_content | raw}}
            </div>

        </div>
    </section>
    <section class="ih-s-section ih-s-our-story">
            <div class="ih-b-container">
                <div class="row-fluid ih-content">
                    <div class="span-6 ih-head">
                        <h2 class="ih-about-title js-title">{{'Our Story' |_}}</h2>
                    </div>
                    <div class="span-6 ih-body">
                            {{aboutpage.our_story_content | raw}}
                    </div>
                </div>
            </div>
        </section>
</main>