title = "Contact | instyle home"
url = "/contact"
layout = "Default"
is_hidden = 0
[contactpagecp]
==

<?php
    function onStart(){
        $this->page->bodyClass = "contactPage";
    }
?>

==

<section class="ih-s-section ih-s-contact" style="background-image: url({{'assets/images/bg-contact.jpg' | theme}})">
    <div class="ih-b-container">
        <div class="row-fluid">
            <div class="span-6 ih-info">
                {% for item in contactpage.contact_info %}
                <p><strong>{{item.head}} </strong> {{item.info}}</p>
                {% endfor %}

            </div>
            <div class="span-6 ih-form">
                <div class="ih-head">
                    <h2>{{'Contact'|_}} <strong>{{'Us'|_}}</strong></h2>
                    <p>{{contactpage.form_text}}</p>
                </div>
                {% partial "contact-form-page" %}
            </div>
        </div>
    </div>
</section>