title = "Home | Instyle home"
url = "/"
layout = "Default"
slidercode = "home-page"
is_hidden = 0
[homepagecp]
==

<?php
    function onStart(){
        $this->page->bodyClass = "homePage";
    }
?>

==

<section class="ih-s-section ih-s-home">
    <div class="ih-b-slider ih-slider-fade">

        {% if homepage.background == "image" %}
        {% for item in homepage.background_image%}
        <div class="ih-slide">
            <div class="ih-image-cover" style="background-image: url({{ item.path }})"></div>
        </div>
        {% endfor %}

        {% else %}
        <div class="ih-video">
            <video class="video" loop muted data-autoplay playsinline autoplay>
                <source src="{{homepage.background_video.path}}" type="video/mp4">
            </video>
        </div>
        {% endif %}
    </div>
    <ul class="ih-menu-home">
        <li>
            <a href="{{ 'work' | page}}">{{'Work' |_}}</a>
        </li>
        <li>
            <a href="{{ 'category' | page ({ categorySlug: 'coming-project'})}}">{{'Coming' |_}}</a>
        </li>
        <li>
            <a href="{{ 'about' | page}}">{{'About' |_}}</a>
        </li>
    </ul>
</section>