title = "Service"
url = "/service/:serviceSlug"
layout = "Default"
is_hidden = 0
[projectcp]
==


<?php
    function onStart(){
        $this->page->bodyClass = 'servicePage';
    }
?>

==
<section class="ih-s-section ih-s-works">
    <div class="ih-b-container">
        <div class="ih-b-head">
            <h2 class="js-title">{{serviceName}}</h2>
            <ul>
                <li>
                    <a
                        href="{{'category' | page ({categorySlug: 'complete-projects' }) }}">{{'Complete Projects' |_}}</a>
                </li>
            </ul>
        </div>
        <div class="ih-b-body">
            {% for item in projectByService %}
            {% partial "work-item" project=item %}
            {% endfor%}

        </div>

    </div>
</section>