title = "Work | Instyle home"
url = "/work"
layout = "Default"
is_hidden = 0
[projectcp]
==

<?php
    function onStart(){
        $this->page->bodyClass = 'workpage';
    }
?>

==
<section class="ih-s-section ih-s-works">
    <div class="ih-b-container">
        <div class="ih-b-head">
            <h2>{{'Recent' |_}} <strong> {{'Works' |_}}</strong></h2>
            <ul>
                <li class="js-toggle-click-area">
                    <a href="#" class="ih-dropdown js-toggle-click">{{'Coming' |_}}</a>
                    <ul class="js-toggle-dropdown">
                        <li>
                            <a
                                href="{{'category' | page ({categorySlug: 'in-constructor' }) }}">{{'In Construction' |_}}</a>
                        </li>

                        <li>
                            <a
                                href="{{'category' | page ({categorySlug: 'coming-project' }) }}">{{'Coming Project' |_}}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a
                        href="{{'category' | page ({categorySlug: 'complete-projects' }) }}">{{'Complete Projects' |_}}</a>
                </li>
            </ul>
        </div>
        <div class="ih-b-body">
            {% for project in projects %}
            {% partial "work-item" project=project %}
            {% endfor %}
        </div>

    </div>
</section>