title = "Work Detail | instyle home"
url = "/work/:slug"
layout = "Default"
is_hidden = 0
[projectcp]
==
<?php
    function onStart(){
        $this->page->bodyClass = 'work-detail';
}
?>
==
<section class="ih-s-section ih-s-work-detail">
    <div class="ih-b-banner" style="background-image: url({{projectItem.thumb.path}})">
        <a href="#" class="ih-arrow-down js-scroll-down"></a>
    </div>
    <div class="ih-b-section2 ih-scroll-to">
        <div class="ih-b-container">
            <div class="ih-b-head">
                <aside class="ih-b-sns">
                    <span>{{'Share this'|_}}</span>
                    {% partial "social" %}
                </aside>
                <aside>
                    <h2>{{projectItem.title}}</h2>
                </aside>
            </div>
            <div class="ih-b-body">
                <div class="ih-head">
                    <div class="ih-head-inner row-fluid">
                        <div class="span-6">
                            <h4>{{'SERVICES' |_}}</h4>
                            <ul>
                                <li>
                                    <span><strong>{{'Type' |_}}</strong></span>
                                    <span>{{projectItem.type}}</span>
                                </li>
                                <li>
                                    <span><strong>{{'Location' |_}}</strong> </span>
                                    <span>{{projectItem.location}}</span>
                                </li>
                                <li class="ih-service-relates">
                                    <span><strong>{{'Service' |_}}</strong></span>
                                    {% for service in servicesProject %}
                                    <a href="{{'service' |page ({ serviceSlug: service.slug })}}">{{service.name}}</a>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                        <div class="span-6">
                            <div class="ih-b-info active">
                                <h4>{{'ABOUT' |_}}</h4>
                                {{projectItem.about | raw}}
                            </div>
                            <div class="ih-b-info">
                                <h4>{{'Creative' |_}}</h4>
                                {{ projectItem.creative | raw}}

                            </div>
                            <div class="ih-b-info">
                                <h4>{{'APPROACH' |_}}</h4>
                                {{projectItem.approach | raw}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ih-body">

                    {% for item in projectItem.content %}
                    {% set blockType = item.block_type  %}

                    {% if blockType == '1' %}
                    <div class="ih-row ih-b-img-full ih-img-popup">
                        <a href="{{ item.full_image |media }}">
                            
                            <div class="ih-image-cover" style="background-image: url({{ item.full_image |media }})">
                                    <img src="{{ item.full_image |media }}" alt="image instylehomes">
                            </div>
                        </a>
                    </div>
                    {% elseif blockType == '2'  %}
                    <div class="ih-row ih-b-text-img">
                        <div class="ih-text">
                            {{item.left_text | raw}}
                        </div>
                        <div class="ih-row ih-img-popup">
                            <a href="{{ item.right_image |media }}">
                                <img src="{{ item.right_image |media }}" alt="work instylehomes">
                                <div class="ih-image-cover"
                                    style="background-image: url({{ item.right_image |media }})"></div>
                            </a>
                        </div>
                    </div>

                    {% elseif blockType == '3' %}
                    <div class="ih-row ih-b-text-img reverse">
                        <div class="ih-text">
                            {{item.right_text | raw}}
                        </div>
                        <div class="ih-img-popup ih-row">
                            <a href="{{ item.left_image |media }}">

                                <div class="ih-image-cover" style="background-image: url({{ item.left_image |media }})">
                                    <img src="{{ item.left_image |media }}" alt="work instylehomes">
                                </div>
                            </a>
                        </div>
                    </div>
                    {% elseif blockType == '4' %}
                    <div class="ih-row ih-b-img-img">
                        <div class="ih-img-popup">
                            <a href="{{ item.left_image |media }}">

                                <div class="ih-image-cover" style="background-image: url({{ item.left_image |media }})">
                                    <img src="{{ item.left_image |media }}" alt="work instylehomes"></div>
                            </a>
                        </div>
                        <div class="ih-img-popup">
                            <a href="{{ item.right_image |media }}">

                                <div class="ih-image-cover"
                                    style="background-image: url({{ item.right_image |media }})">
                                    <img src="{{ item.right_image |media }}" alt="work instylehomes">
                                </div>
                            </a>
                        </div>
                    </div>
                    {% elseif blockType == '5' %}
                    <div class="ih-row ih-b-img-3">
                        <div class="ih-img-popup">
                            <a href="{{ item.left_image |media }}">

                                <div class="ih-image-cover" style="background-image: url({{ item.left_image |media }})">
                                    <img src="{{ item.left_image |media }}" alt="work instylehomes">
                                </div>
                            </a>
                        </div>
                        <div class="ih-img-popup">
                            <a href="{{ item.left_image2 |media }}">

                                <div class="ih-image-cover"
                                    style="background-image: url({{ item.left_image2 |media }})">
                                    <img src="{{ item.left_image2 |media }}" alt="work instylehomes">
                                </div>
                            </a>
                        </div>
                        <div class="ih-img-popup">
                            <a href="{{ item.right_image |media }}">

                                <div class="ih-image-cover"
                                    style="background-image: url({{ item.right_image |media }})">
                                    <img src="{{ item.right_image |media }}" alt="work instylehomes">
                                </div>
                            </a>


                        </div>
                    </div>
                    {% elseif blockType == '6' %}
                    <div class="ih-row ih-b-img-full">
                        <div class="video-player">
                            <iframe src="https://player.vimeo.com/video/{{item.full_vimeo_id}}" frameborder="0"
                                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    {% elseif blockType == '7' %}
                    <div class="ih-row ih-b-text-img reverse">
                        <div class="video-player">
                            <iframe src="https://player.vimeo.com/video/{{item.right_vimeo_id}}" frameborder="0"
                                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <div class="ih-text">
                            {{item.left_text | raw}}
                        </div>
                    </div>

                    {% elseif blockType == '8' %}
                    <div class="ih-row ih-b-text-img">
                        <div class="video-player">
                            <iframe src="https://player.vimeo.com/video/{{item.left_vimeo_id}}" frameborder="0"
                                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <div class="ih-text">
                            {{item.right_text | raw}}
                        </div>
                    </div>
                    {% elseif blockType == '9' %}
                    <div class="ih-row ih-b-img-img">
                        <div class="video-player">
                            <iframe src="https://player.vimeo.com/video/{{item.left_vimeo_id}}" frameborder="0"
                                webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                        </div>
                        <div class="video-player">
                            <iframe src="https://player.vimeo.com/video/{{item.right_vimeo_id}}" frameborder="0"
                                webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                        </div>
                    </div>
                    {% elseif blockType == '10' %}
                    <div class="ih-row ih-b-text">
                        <div class="ih-text">
                            {{item.full_text | raw}}
                        </div>
                    </div>
                    {% elseif blockType == '11' %}
                    <div class="ih-row ih-b-text-img">
                        <div class="video-player">
                            <iframe src="https://www.youtube.com/embed/{{item.youtube_id_left}}" frameborder="0"
                                webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                        </div>
                        <div class="ih-text">
                            {{item.right_text | raw}}
                        </div>
                    </div>

                    {% elseif blockType == '12' %}
                    <div class="ih-row ih-b-text-img reverse">
                        <div class="video-player">
                            <iframe src="https://www.youtube.com/embed/{{item.youtube_id_right}}" frameborder="0"
                                webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                        </div>
                        <div class="ih-text">
                            {{item.left_text | raw}}
                        </div>
                    </div>

                    {% elseif blockType == '13' %}
                    <div class="ih-row ih-b-img-img">
                        <div class="video-player">
                            <iframe src="https://www.youtube.com/embed/{{item.youtube_id_left}}" frameborder="0"
                                webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                        </div>
                        <div class="video-player">
                            <iframe src="https://www.youtube.com/embed/{{item.youtube_id_right}}" frameborder="0"
                                webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="ih-b-foot">
                <h2>{{'RELATE'|_}} <strong> {{'PROJECT'|_}}</strong></h2>
                <div class="ih-relate-slider">
                    {% for project in relatedProject %}

                    {% partial "work-item" project=project %}

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>