description = "default layout"
[localePicker]
[menu]
start = "id-1"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[contactForm]
injectBootstrapAssets = 0

==

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <meta name="author" content="Fresh House" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="cache-control" content="private">
        <meta http-equiv="Content-Language" content="vi">
            <meta property="og:url" content="" />
            <meta property="og:type" content="website" />
            <meta property="og:title" content="" />
            <meta property="og:description" content="" />
            <meta property="og:image" content="" />

        <title>{{ this.page.title }}</title>

        <link rel="shortcut icon" type="image/png" href="{{ 'assets/images/favicon.png'|theme }}" />
        <link href="{{ [
            '@framework.extras',
            'assets/css/slick.min.css',
            'assets/css/slick-theme.min.css',
            'assets/css/magnific-popup.css',
            'assets/widgets/videojs/css/videojs.css',
            'assets/css/fullpage.css',
            'assets/css/base.css',
        ]|theme }}" rel="stylesheet" media="screen" />
        {% styles %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    </head>

    <body class="{{ this.page.bodyClass }}">
        <div id="flash-message"></div>

        {% partial "header" %}

        {% page %}

        {% partial "footer" %}
        <div class="ih-b-loading-wrapper">
            <div class="ih-b-body">
                <div class="ih-line"></div>
                <div class="ih-line"></div>
            </div>
        </div>

        <script src="{{ [
            '@framework',
            '@framework.extras',
            'assets/js/css-browser-selector.js',
            'assets/js/slick.min.js',
            'assets/js/layout-controller.js',
            'assets/js/jquery.fullpage.min.js',
            'assets/js/wait-for-images.js',
            'assets/js/jquery.magnific-popup.min.js',
            'assets/js/TweenMax.min.js',
            'assets/widgets/videojs/js/videojs.js',
            'assets/js/main.js',
        ]|theme }}"></script>
        {% scripts %}
    </body>
</html>