
[projectcp]
==
<div class="confirm-container">
    <!--This will contain the confirmation when the email is successfully sent-->
</div>
<form class="flexiContactForm" role="form" data-request="{{ contactForm  }}::onMailSent"
    data-request-update="'{{ contactForm  }}::confirm': '.confirm-container'">
    <input type="text" name="name" placeholder="{{ 'Name '|_}}" required>
    <input type="text" name="phone" placeholder="{{ 'Phone '|_}}" required>
    <input type="email" name="email" placeholder="{{ 'Email '|_}} *" required>
    <div class="ih-service">
        <p>{{'How can we help?' |_}}</p>
        <select name="service" required>
                <option value="">{{'Select Service' |_}}</option>
                {% for item in allServices %}
                <option value="{{item.name}}">{{item.name}}</option>
                {% endfor%}
            </select>
        
    </div>
    <button type="submit">
        {{ 'Send us '|_}}
    </button>
</form>