
    <div class="confirm-container">
        <!--This will contain the confirmation when the email is successfully sent-->
    </div>
    <form class="flexiContactForm" role="form"
        data-request="{{ contactForm  }}::onMailSent"
        data-request-update="'{{ contactForm  }}::confirm': '.confirm-container'">
        <input type="email" name="email" placeholder="{{ 'Your email '|_}} *">
        <!-- <input type="submit" value="SEND"> -->
        <button class="ih-btn" type="submit">
            <img src="{{'assets/images/arrow-down-white.svg' | theme }}" alt=arrow down"">
        </button>
</form>