description = "footer"

==

<footer>
    <div class="ih-b-container">
        <div class="ih-b-footer">
            <div class="ih-b-left">
                <p>{{'Subscribe to our newsletter' |_}}</p>
                {% partial "contact" %}
            </div>
            <div class="ih-b-right">
                {% component "menu" %}
                <div class="ih-contact">
                    {% partial "social" %}
                    <p>{{'@ 2019 <strong>InstyleHomes</strong> All Right Reserved.' |_}}</p>
                </div>
            </div>

        </div>
    </div>
</footer>