description = "header"

==
{% set curPage = this.page.url|replace({':slug?':''})|replace({'/':''})|replace({':slug':''}) %}
{% if curPage == 'service' %} {% set curPage = 'services' %} {% endif %}

<header>
    <div class="ih-b-container">
        <div class="ih-logo">
            <a href="{{'home' | page}}">
                <img src="{{'assets/images/logo.png' | theme}}" alt="logo instyle home">
            </a>
        </div>
        <div class="ih-nav-right">
            <div class="ih-lang">
                {% for code, name in locales %}
                <a href="#" data-request="onSwitchLocale" data-request-data="locale: '{{ code }}'"
                    class="{{ code == activeLocale ? 'active' : '' }}">{{ code }}</a>
                {% endfor %}
            </div>
            <div class="ih-nav-icon js-toggle-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>

<section class="ih-s-menu">
    <div class="ih-b-container">
        {% component "menu" %}
    </div>
</section>