@import "./variables";
@import "./fonts";
@import "./_mixinscustom";
@import "./common";

.homePage, .contactPage{
  footer{
    display: none;
  }
}
header{
  padding: 10px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  .ih-b-container{
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::after, &::before{
      content: initial;
    }
    .ih-logo{
      img{
        width: 60px;
      }
    }
    .ih-nav-right{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .ih-lang{
        margin-right: 10px;
        display: none;
        a{
          color: white;
          font-weight: 300;
          opacity: 0.5;
          font-size: 13px;
          text-transform: uppercase;
          padding: 0 10px;
          border-right: 1px solid white;
          &.active{
            opacity: 1;
            font-weight: 500;
          }
          &:last-child{
            border-right: 0;
          }
        }
        .show-menu &{
          display: initial;
        }
      }
      .ih-nav-icon{

      }
    }

  }
}




.ih-s-menu{
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 9;
  background-color: $main;
  @include transform(translateY(-100%));
    -webkit-transition: all 600ms cubic-bezier(0.694, 0, 0.335, 1);
    -o-transition: all 600ms cubic-bezier(0.694, 0, 0.335, 1);
    transition: all 600ms cubic-bezier(0.694, 0, 0.335, 1);
  .ih-b-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    ul{
      li{
        margin-bottom: 20px;
        a{
          font-size: 30px;
          line-height: 1em;
          color: white;
          position: relative;
          font-weight: 500;
          text-transform: uppercase;
          display: inline-block;
          &::before{
            @include pseudo();
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: white;
            @include transition(0.3s, ease-in-out);
          }
          &:hover{
            &::before{
              width: 100%;
              @include transition(0.3s, ease-in-out);
            }
          }
        }
        &.dropdown{
          margin-bottom: 0;
          .dropdown-toggle{
            position: relative;
            margin-bottom: 20px;
            display: inline-block;
            &::before{
              @include pseudo();
              right: -5px;
              top: 50%;
              left: inherit;
              width: 20px;
              height: 11px;
              background-image: url(../images/icon-arrow-down.png);
              background-size: 20px 11px;
              background-color: transparent;
              @include transform(translate(100%, -50%));
            }
          }
          .dropdown-menu{
            display: none;
            li{
              &:last-child{
                margin-bottom: 20px;
              }
              a{
                &::before{
                  width: 0 !important;
                }
                &:hover{
                  &::before{
                    width: 100% !important;
                  }
                }
              }
              &.active{
                a{
                  &::before{
                    width: 100% !important;
                  }
                }
              }
            }
          }
        }
        &.active{
          a{
            &::before{
              width: 100%;
            }
          }
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }

  .show-menu &{
    @include transform(translateY(0));
    -webkit-transition: all 600ms cubic-bezier(0.694, 0, 0.335, 1);
    -o-transition: all 600ms cubic-bezier(0.694, 0, 0.335, 1);
    transition: all 600ms cubic-bezier(0.694, 0, 0.335, 1);
  }
}

.ih-s-home{
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  display: block;
  &::before{
    @include pseudo();
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(97, 78, 73, 0.5);
    z-index: 1;
    @include transition(0.4s, ease-in-out);
  }
  &.isHover{
    &::before{
      background: transparent;
      @include transition(0.4s, ease-in-out);
    }
  }
  .ih-b-slider{
    .ih-slide{
      width: 100%;
      height: 100vh;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .ih-video{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    video{
      width: 100%;
      height: 100%;
      object-fit: cover;
  
    }
  }
  .ih-menu-home{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    z-index: 2;
    @include transform(translate(-50%, -50%));
    li{
      display: inline-block;
      padding: 0 10px;
      border-right: 1px solid white; 
      &:last-child{
        border-right: 0;
      }
      a{
        font-size: 1.3rem;
        font-weight: 500;
        text-transform: uppercase;
        @include transition(0.4s, ease-in-out);
        &:hover{
          color: $red;
          @include transition(0.4s, ease-in-out);
        }
      }
    }
  }
}

.ih-s-about-hero{
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
  .ih-b-container{
    .ih-content{
      .ih-head{
        margin-bottom: 20px
      }
      .ih-body{
        p{
          line-height: 1.5;
        }
      }
    }

  }
  .ih-scroll-down{
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.ih-s-our-story{
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background-color: $red;
  .ih-b-container{
    .ih-content{
      .ih-head{
        margin-bottom: 20px
      }
      .ih-body{
        p{
          line-height: 1.5;
          text-align: justify;
        }
      }
    }

  }
}

.ih-s-about-main{
  background-color: #2a2a2a;
  .ih-row{
    .ih-img{
      height: 270px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .ih-content{
      padding: 15px;
      .ih-about-title{
        margin-bottom: 10px;
        strong{
          line-height: 1.2em;
        }
      }
      p{
        text-align: justify;
      }
    }
    &::last-child{
      margin-bottom: 0;
    }
  }
}


.ih-s-our-team{
  background-color: #ededed;
  background-image: url(../images/team.png);
  background-size: 310px auto;
  background-position: bottom;
  padding-bottom: 240px;
  background-repeat: no-repeat;
  .ih-b-container{
    .ih-content{
      .ih-about-title{
        color: #373737;
        margin-bottom: 20px;
        line-height: 1.2em;
        strong{
          display: inline;
          font-weight: 700;
        }
      }
      p{
        color: #373737;
        text-align: justify;
        line-height: 1.6;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}

footer{
  padding: 40px 0 20px;
  .ih-b-container{
    .ih-b-footer{
      .ih-b-left{
        p{
          font-weight: 500;
        }
        form{
          position: relative;
          margin-bottom: 20px;
          input{
            appearance: none;
            width: 100%;
            padding: 10px 0;
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid white;
          }
          button{
            width: 20px;
            height: 30px;
            padding: 0;
            position: absolute;
            top: 50%;
            right: 0;
            background: transparent;
            border: 0;
            @include transform(translateY(-50%));
  
            img{
              width: 100%;
              height: 100%;
              @include transform(rotate(-90deg));
            }
          }
        }
      }
      .ih-b-right{
        ul{
          margin-bottom: 20px;
          li{
            margin-bottom: 10px;
            a{
              line-height: 1em;
              color: white;
              position: relative;
              font-weight: 500;
              @include transition(0.4s, ease-in-out);
              &:hover{
                color: $red;
                @include transition(0.4s, ease-in-out);
              }
            }
            &.dropdown{
              margin-bottom: 0;
              .dropdown-toggle{
                position: relative;
                margin-bottom: 10px;
                display: inline-block;
                &::before{
                  @include pseudo();
                  right: -5px;
                  top: 50%;
                  left: initial;
                  width: 10px;
                  height: 6px;
                  background-image: url(../images/icon-arrow-down.png);
                  background-size: 10px 6px;
                  background-color: transparent;
                  @include transform(translate(100%, -50%));
                }
              }
              .dropdown-menu{
                display: none;
                margin-bottom: 0;
                position: absolute;
                background: white;
                z-index: 1;
                li{
                  margin-bottom: 0;
                  a{
                    padding: 7px 10px;
                    display: block;
                    color: $main;
                  }
                }
              }
            }
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      .ih-contact{
        .ih-sns{
          margin-bottom: 20px;
          a{
            img{
              filter: brightness(0) invert(1);
            }
          }
        }
        p{
  
        }
      }
  
      }
    }

  }
}

.ih-s-works{
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid white;
  .ih-b-container{
    .ih-b-head{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      h2{
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 20px;
        line-height: 22px;
        strong{
          font-weight: 700;
        }
      }
      ul{
        li{
          position: relative;
          margin-right: 10px;
          &:last-child{
            margin-right: 0;
          }
          a{
            position: relative;
            font-size: 10px;
            color: white;  
            text-transform: initial;
            &.ih-dropdown{
              padding-right: 20px;
              display: inline-block;
              padding-right: 20px;
              position: relative;
              font-size: 10px;
              cursor: pointer;
              &::after{
                @include pseudo();
                right: 0;
                top: 50%;
                background-image: url(../images/icon-arrow-down.png);
                background-size: 13px 7px;
                width: 13px;
                height: 7px;
                @include transform(translate(0, -50%)); 
              }
            }
          }
          ul{
            position: absolute;
            z-index: 4;
            background-color: white;
            right: 0;
            bottom: -5px;
            // visibility: hidden;
            
            opacity: 0;
            display: none;
            @include transform(translate(0, 100%) scale(0));
            @include transition(0.3s, ease-in-out);
            li{
              margin-right: 0;
              a{
                font-size: 10px;
                color: #614e49;
                display: block;
                padding: 5px 10px;
                min-width: 100px;
                @include transition(0.3s, ease-in-out);
                &:hover{
                  opacity: 0.8;
                  color: white;
                  background-color: $main;
                  @include transition(0.3s, ease-in-out);
                }
              }
            }
          }
        }
      }
    }
    .ih-b-body{
      .ih-b-work-item{

      }
    }
  }
}

.ih-dropdown-toggle{
  .ih-s-works{
    .ih-b-container{
      .ih-b-head{
        ul{
          li{
            ul{
              &.js-toggle-dropdown{
                visibility: initial;
                opacity: 1;
                display: block;
                @include transform(translate(0, 100%) scale(1));
                @include transition(0.3s, ease-in-out);
            
              }
            }
          }
        }
      }
    }      
  }
}

.ih-s-work-detail{
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  .ih-b-banner{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    .ih-arrow-down{
      position: absolute;
      left: 50%;
      bottom: 30px;
      @include transform(translate(-50%,0));
    }
  }
  .ih-b-section2{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    .ih-b-head{
      margin-bottom: 20px;
      aside{
        margin-bottom: 20px;
        h2 {
          color: #2b2b2b;
          text-transform: uppercase;
        }
        &.ih-b-sns{
          display: flex;
          align-items: center;
          justify-content: space-between;
          span{
            color: #2b2b2b;
          }
          .ih-sns{
            a{
              svg{
                path{
                  fill: #2b2b2b;
                }
              }
              &:hover{
                fill: $red;
                @include transition(0.3s, ease-in-out);
              }
            }
          }
        }
        &:last-child{
          margin-bottom: 0;
        }
      }

    }
    .ih-b-body{
      margin-bottom: 40px;
      .ih-head{
        color: #333333;
        background-color:  #dfdfdf;;
        margin-bottom: 4px;
        margin-left: auto;
        margin-right: auto;
        .ih-head-inner{
          padding: 30px;
          h4{
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 10px;
          }
          h2{
            font-weight: 400;
            font-size: 25px;
            margin-bottom: 35px;
          }
          ul{
            li{
              margin-bottom: 15px;
              span{
                display: block;
                strong{
                  text-transform: uppercase;
                }
              }
            }
          }
          .span-6{
            .ih-b-info{
              margin-bottom: 30px;
              h4{
                position: relative;                
              }
            }
          }
          .ih-service-relates{
            a{
              color: black;
              padding-right: 5px;
              &:hover{
                color: $red;
                @include transition(.3s, ease-in-out)
              }
            }
          }
        }
      }
      .ih-body{
        color: #2b2b2b;
        line-height: 1.4;
        .ih-row{
          margin-bottom: 4px;
        }
        .ih-img-popup{
          a{
            display: block;
            height: 200px;
          }
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        video{
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
        .ih-b-img-full{
          &.ih-img-popup{
            a{
              display: block;
              height: auto;
            }
          }
          .video-player{
            position: relative;
            padding-bottom: 56.25%;
            overflow: hidden;
            iframe{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }

        }
        .ih-b-text-img{
          .ih-text{
            padding: 40px;
          }
          &.reverse{
            display: flex;
            flex-direction: column-reverse;
          }
          .video-player{
            position: relative;
            padding-bottom: 56.25%;
            overflow: hidden;
            margin-bottom: 4px;
            iframe{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }
        .ih-b-img-img{
          .ih-img-popup{
            margin-bottom: 4px;
            &:last-child{
              margin-bottom: 0;
            }
          }
          .video-player{
            position: relative;
            padding-bottom: 56.25%;
            overflow: hidden;
            margin-bottom: 4px;
            iframe{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
          &.reverse{
            display: flex;
            flex-direction: column-reverse;
          }
        }

        .ih-b-img-3{
          .ih-img-popup{
            margin-bottom: 4px;
            &:last-child{
              margin-bottom: 0;
            }
          }
        }

        .ih-b-text{
          padding: 40px;
        }


      }

    }

    .ih-b-foot{
      h2{
        font-weight: 100;
        color: #2b2b2b;
        margin-bottom: 20px;
      }
      .ih-relate-slider{
        .slick-dots{
          bottom: -10px;
          li{
              margin: 0 2px;
              button {
                  &::before{
                      font-size: 40px;
                      color: $main;
                  }
              }
              &.slick-active{
                button {
                  &::before{
                      color: $main;
                  }
              }
              }
          }
      }
      }
    }


  }
}

.ih-s-contact{
  background-size: cover;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 100vh;
  &::before{
    @include pseudo();
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.9);
    z-index: 1;
  }
  .ih-b-container{
    z-index: 2;
    .row-fluid{
      .ih-info{
        margin-bottom: 60px;
        p{
          margin-bottom: 15px;
          display: flex;
          max-width: 400px; 
          strong{
            min-width: 95px;
            color: $red;
            text-transform: uppercase;
            display: inline-block;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .ih-form{
        .ih-head{
          margin-bottom: 30px;
          h2{
            text-transform: uppercase;
            font-weight: 100;
            strong{
              font-weight: 700;
            }
          }
          p{
            margin-bottom: 0;
          }
        }
        form{
          font-family: 'Open Sans', sans-serif !important; 
          max-width: 610px;
          input{
            margin-bottom: 20px;
            color: white;
          }
          .ih-service{
            margin-bottom: 20px;
            p{
              color: white;
              font-size: 16px;
              margin-bottom: 15px;
            }
            select{
              color: white;
              position: relative;
              background-image: url(../images/arrow-down-white.svg);
              background-position: right center;
              background-size: 18px 12px;
              background-repeat: no-repeat;
            }
          }


          button{
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: 0;
            border-radius: 0;
            background-color: $red;
            text-transform: uppercase;
            padding: 10px 30px;
            color: white;
            font-weight: 700;
            @include transition(0.3s, ease-in-out);
            &:hover{
              color: $red;
              background-color: white;
              @include transition(0.3s, ease-in-out);
            }
          }
        }
      }
    }
  }
}

.mfp-zoom-out-cur{
  .mfp-image-holder{
    .mfp-content{
      .mfp-figure{
        button{
          font-weight: 100;
          font-size: 16px;
          text-transform: uppercase;
          font-family: 'Open Sans', sans-serif;
        }
      }
    }
  }
}

@include mq('tablet'){

}

@include mq('desktop'){
  header{
    padding: 25px 0 0;
    .ih-b-container{
      padding: 0 80px;
      align-items: flex-start;
      .ih-logo{
        img{
          width: 120px;
        }
      }
      .ih-nav-right{
        .ih-lang{
          margin-right: 30px;
          a{
            font-size: 16px;
            padding: 0 15px;
          }
        }
      }
  
    }
  }

  .ie {
    header{
      .ih-b-container{
        display: block;
        .ih-logo{
          display: inline-block;
          vertical-align: top;
        }
        .ih-nav-right{
          display: inline-block;
          vertical-align: top;
          float: right;
          .ih-lang{
            margin-right: 10px;
            display: none;
            vertical-align: top;
          }
          .ih-nav-icon{
            display: inline-block;
            vertical-align: top;
          }
        }
    
      }
    }
  }

.ie .show-menu header .ih-b-container .ih-nav-right .ih-lang{
  display: inline-block;
}
.ie{
  .ih-s-about-hero .ih-b-container .ih-content{
    display: block;
  }
  .ih-s-about-hero .ih-b-container .ih-content .ih-head{
    display: inline-block;
    vertical-align: middle;
    padding-top: 80px;
  }
  .ih-s-about-hero .ih-b-container .ih-content .ih-body{
    display: inline-block;
    vertical-align: middle;
    padding-top: 80px;
  }
  .ih-s-our-story .ih-b-container .ih-content{
    display: block;
  }
  .ih-s-our-story{
    min-height: 600px;
  }
  .ih-s-menu .ih-b-container ul li.dropdown .dropdown-toggle::before{
    // display: none;
  }
  .ih-s-contact .ih-b-container .row-fluid .ih-form form .ih-service select{
    background-image: none;
  }
  footer .ih-b-container .ih-b-footer .ih-b-right .ih-contact .ih-sns{
    display: inline-block;
    vertical-align: middle;
  }
  footer .ih-b-container .ih-b-footer .ih-b-right .ih-contact .ih-sns a{
    width: 50px;
    display: inline-block;
    vertical-align: middle;
  }

  .ih-s-works .ih-b-container .ih-b-head ul li ul {
    visibility: initial !important;
    display: none;
  }
  .ih-dropdown-toggle .ih-s-works .ih-b-container .ih-b-head ul li ul.js-toggle-dropdown {
    visibility: initial;
    display: block;
    opacity: 1;
    -webkit-transform: translate(0, 100%) scale(1);
    -moz-transform: translate(0, 100%) scale(1);
    -o-transform: translate(0, 100%) scale(1);
    -ms-transform: translate(0, 100%) scale(1);
    transform: translate(0, 100%) scale(1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .ih-s-work-detail .ih-b-section2 .ih-b-head aside.ih-b-sns .ih-sns {
    display: inline-block;
    a{
      display: inline-block;
      vertical-align: middle;
      width: 50px;
      img{
        height: auto;
      }
    }
  }
  .ih-sns a img{
    height: auto;
  }
  footer .ih-b-container .ih-b-footer .ih-b-left form input{
    height: 53px;
  }
}



  footer{
    padding: 100px 0;
    .ih-b-container{
      .ih-b-footer{
        display: flex;
        justify-content: space-between;
        .ih-b-left{
          p{
            margin-bottom: 40px;
            max-width: 380px;
          }
          form{
            position: relative;
            margin-bottom: 20px;
            input{
              font-size: 16px;
              max-width: 550px;
            }
            button{
              width: 20px;
              height: 30px;
              padding: 0;
              position: absolute;
              top: 50%;
              right: 0;
              background: transparent;
              border: 0;
              @include transform(translateY(-50%));
              img{
                width: 100%;
                height: 100%;
                @include transform(rotate(-90deg));
              }
            }
          }
        }
        .ih-b-right{
          ul{
            margin-bottom: 75px;
            text-align: right;
            li{
              margin-bottom: 0;
              display: inline-block;
              margin-right: 30px;
              a{
                line-height: 1em;
                color: white;
                position: relative;
                font-weight: 500;
                &:hover{
                  color: $red;
                }
              }
              &.dropdown{
                margin-bottom: 0;
                .dropdown-toggle{
                }
                .dropdown-menu{
                  text-align: left;
                  li{
                    margin-right: 0;
                    display: block;
                    a{
                      &:hover{
                        opacity: 0.7;
                      }
                    }
                  }
                }
              }
              &.active{
              }
              &:last-child{
                margin-bottom: 0;
              }
            }
          }
        .ih-contact{
          display: flex;
          align-items: center;
          justify-content: center;
          .ih-sns{
            margin-bottom: 0;
            margin-right: 40px;

          }
          p{
    
          }
        }
    
        }
      }
  
    }
  }
  

  .ih-s-home{
    .ih-menu-home{
      font-size: 0;
    line-height: 0;
      li{
        padding: 0 35px;
        border-right: 3px solid white; 

        a{
          font-size: 42px;
          line-height: 42px;
        }
      }
    }
  }


  .ih-s-menu{
    .ih-b-container{
      ul{
        li{
          a{
            font-size: 38px;
            padding: 0 5px;
          }
        }
      }
    }
  
    .show-menu &{
      @include transform(translateY(0));
      -webkit-transition: all 600ms cubic-bezier(0.694, 0, 0.335, 1);
      -o-transition: all 600ms cubic-bezier(0.694, 0, 0.335, 1);
      transition: all 600ms cubic-bezier(0.694, 0, 0.335, 1);
    }
  }

  .ih-s-about-hero{
    .ih-b-container{
      .ih-content{
        display: flex;
        align-items: center;  
        .ih-head{
          margin-bottom: 0;
          .ih-about-title{
            font-size: 12vh;
          }
        }
        .ih-body{
          p{
            margin-bottom: 20px;
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }

    }
    .ih-scroll-down{
    }
  }

  .ih-s-our-story{
    .ih-b-container{
      .ih-content{
        display: flex;
        align-items: center;  
        .ih-head{
          margin-bottom: 0;
          .ih-about-title{
            font-size: 12vh;
          }
        }
        .ih-body{
          p{
            margin-bottom: 20px;
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .ih-s-about-main{
    .ih-row{
      margin-bottom: 110px;
      .ih-img{
        min-height: 400px;
        height: 55vh;
        overflow: hidden;
        padding-right: 95px;
      }
      .ih-content{
        padding: 0;
        max-width: 550px;
        .ih-about-title{
          margin-bottom: 30px;
          font-size: 8vh;
        }
        p{
          margin-bottom: 20px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      &.ih-change-position{
        display: flex;
        flex-direction: row-reverse;
        .ih-img{
          padding-left: 95px;
          padding-right: 0;
        }
      }

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .ih-s-our-team{
    padding-bottom: 20%;
    background-size: 63% auto;
    background-position: 93% bottom;
    .ih-b-container{
      .ih-content{
        width: 34%;
        .ih-about-title{
          font-size: 10vh;
          margin-bottom: 50px;
        }
        p{
          margin-bottom: 20px;
        }
      }
    }
  }


  .ih-s-works{
    padding-top: 180px;
    padding-bottom: 130px;
    .ih-b-container{
      .ih-b-head{
        margin-bottom: 80px;
        h2{
          font-size: 60px;
        }
        ul{
          display: flex;
          li{
            margin-right: 20px;
            a{
              font-size: 18px;
              color: white;  
              &.ih-dropdown{
                padding-right: 20px;
                font-size: 18px;
                cursor: pointer;
                &::after{
                  background-size: 13px 7px;
                  width: 13px;
                  height: 7px;
                }
              }
            }
            ul{
              li{
                margin-right: 0;
                a{
                  font-size: 18px;
                  padding: 7px 15px;
                  min-width: 220px;
                }
              }
            }
          }
        }
      }
      .ih-b-body{
        font-size: 0;
        line-height: 0;
        .ih-b-work-item{
          margin-bottom: 0;
          width: calc(33.33% - 10px);
          margin-bottom: 15px;
          display: inline-block;
          margin-right: 15px;
          &:nth-child(3n){
            margin-right: 0;
          }
          &:first-child{
            width: 100%;
            margin-right: 0;
          }
          &:nth-child(2){
            width: calc(66.66% - 5px);
          }
          &:nth-child(3){
            margin-right: 0;
          }
        }
      }
    }
  }


  .ih-s-work-detail{
    .ih-b-section2{
      padding-top: 80px;
      padding-bottom: 80px;
      .ih-b-head{
        margin-bottom: 50px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        @include transition(0.3s, ease-in-out);
        aside{
          margin-bottom: 0;
          &.ih-b-sns{
            .ih-sns{
              margin-left: 40px;
            }
          }
        }
      }
      .ih-b-body{
        margin-bottom: 75px;
        .ih-head{
          margin-bottom: 10px;
          .ih-head-inner{
            padding: 50px 35px;
            h4{
              font-weight: 300;
              font-size: 26px;
              margin-bottom: 25px;
            }
            h2{
              font-weight: 400;
              font-size: 25px;
              margin-bottom: 35px;
            }
            ul{
              li{
                display: flex;
                align-items: center;
                flex-direction: row;
                span{
                  &:first-child{
                    min-width: 110px;
                  }
                }
              }
            }
            .span-6{
              .ih-b-info{
                margin-bottom: 35px;
                p{
                  line-height: 1.4;
                }
              }
            }
          }
        }
        .ih-body{
          .ih-b-text{
            padding: 40px 0;
          }
          .ih-img-popup{
            a {
              display: block;
              height: 450px;
            }
          }
          .ih-b-text-img{
            display: flex;
            align-items: center;
            justify-content: space-between;
      
            .ih-text{
              padding: 40px;
              width: 50%;
            }
            .ih-img-popup{
              width: 50%;
              margin-bottom: 0;
            }
            &.reverse{
              flex-direction: row-reverse;
            }
            .video-player{
              width: 50%;
              padding-bottom: 28%;
            }
          }
          .ih-b-img-img{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .ih-img-popup{
              width: calc(50% - 2px);
              margin-right: 4px;
              margin-bottom: 0;
              &:last-child{
                margin-right: 0;

              }
            }
            .video-player{
              width: calc(50% - 2px);
              position: relative;
              padding-bottom: 28%;
              overflow: hidden;
              margin-bottom: 0;
              margin-right: 4px;
              &:last-child{
                margin-right: 0;
              }
              iframe{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            }
            &.reverse{
              flex-direction: row-reverse;
            }
          }
  
          .ih-b-img-3{
            .ih-img-popup{
              &:first-child{
                width: calc(50% - 2px);
                float: left;
                margin-right: 4px;
                a{
                  height: 604px;
                }
              }
              &:nth-child(2),&:nth-child(3){
                width: calc(50% - 2px);
                a{
                  height: 300px;
                }
              }
            }
          }
        }
      }

      .ih-b-foot{
        h2{
          margin-bottom: 35px;
        }
        .ih-relate-slider{
          margin: 0 -2px;
          .slick-slide {
            margin: 0 2px;
          }
          .slick-dots {
            bottom: -25px;
          }
        }
      }
    }
  }
  

  .ih-s-contact{
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ih-b-container{
      width: 100%;
      .row-fluid{
        .ih-info{
          margin-bottom: 0;
          padding-top: 105px;
          padding-left: 60px;
        }
        .ih-form{
          .ih-head{
            h2{
              font-size: 60px;
              margin-bottom: 70px;
            }
          }
          form{
            font-family: 'Open Sans', sans-serif !important; 
            input{
              margin-bottom: 35px;
              padding: 12px 0;
            }
            .ih-service{
              margin-bottom: 60px;
              p{
                font-size: 20px;
                margin-bottom: 35px;
              }
              select{
                background-size: 28px 17px;
              }
            }
  
  
            button{
              padding: 20px 70px;
              font-size: 20px;
            }
          }
        }
      }
    }
  }





}


@include mq('desktop-1800'){
  header{
    padding: 35px 0 0;
    .ih-b-container{
      padding: 0 150px;
      .ih-logo{
        img{
          width: 170px;
        }
      }
    }
  }

  .ih-s-about-main{
    .ih-row{
      .ih-content{
        max-width: 630px;
        }
      }
    }

}