<!-- New sidebar wrapper -->
<div class="layout-cell sidenav-tree bg-p" data-control="sidenav-tree" data-search-input="#settings-search-input">
    <div class="layout">
        <div class="layout-row min-size">
            <?= $this->makePartial('plugins/alipo/cms/partials/sidebar_menu_toolbar') ?>
        </div>
        <div class="layout-row">
            <div class="layout-cell">
                <div class="layout-relative">
                    <div class="layout-absolute">
                        <div class="control-scrollbar" data-control="scrollbar">
                            <?= $this->makePartial('plugins/alipo/cms/partials/sidebar_menu') ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>